body {
	background-color: #D5D2D2;
}
h1{
	text-align: center;	
}
.row {
	margin: 15px;

}
.row > div{
	border: 5px solid #D5D2D2;
	background-color: gray;
}

#hea{
	width: 80px;
	border-left: black solid;
	border-bottom: black solid;
	margin-bottom: 16px;
	text-align: center;
	float: right;
	margin-right: -12px;
}

